/*fonts*/

@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
}

h3 {
  padding: 5%;
}

.white {
  color: #fff;
}

.clear {
  clear: both;
}

button.navbar-toggler{
 border-color:#fff;
}
.bg-header {
  background: url(../img/bg-head.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}

.top-header {
  background: rgba(5, 5, 5, 0.44);
  border-bottom: 2px solid rgba(252, 250, 250, 0.3);
}

.logo1 {
  width: 180px;
}

.nav {
  margin: 0;
}

.navbar {
  padding: 0;
}

.nav-item a {
  padding: 10px;
  color: #fff;
  font-weight: 600;
  height: 100%;
}
.nav-link{
  color:#fff;
}
.btn {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}

.active {
  background-color: #d31f44;
}

.active-radiant {
  border-radius: 0;
  background-color: rgba(211, 31, 68, 89);
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 10px 45px;
}

.nav-link a {
  height: 100%;
}

.nav li a {
  padding: 28px;
}

.header {
  padding: 22% 0;
  text-align: center;
}

.title-header {
  color: #fff;
  font-size: 3em;
}

.title-header2 {
  font-family: "OpenSans";
  font-weight: 300;
  padding: 20px;
  background: rgba(255, 255, 255, 0.14);
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.2em;
  padding: 5px;
  font-weight: 200px;
}

.title-section {
  text-align: center;
  padding: 6%;
}
#formation{
  font-family: "OpenSans";
  font-weight: 300;
}
#button-header{
  padding:3%;
}
#title-formation{
  padding:3% 0 0 0;
}
.border-wrap-formation {
  background: linear-gradient(to right, #a00323, #fff);
  padding: 0.09rem;
  width: 150px;
  padding:3% 0 0 0;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  -ms-border-radius:50px;
  -o-border-radius:50px;
  
}

#p-left {
  font-size:0.8em;
  padding:5.5% 1% 0 0;
}


#p-right {
  padding: 7% 0 0 4%;
}

#p-right-down {
  padding: 0 0 0 0;


}
.liste1 ul{
  list-style-position: outside;
}
.liste1 li{
  line-height:0.5em;
  padding-bottom:0.2em;
  font-size: 1.6em;

}
.liste1 li a{
  font-size:0.5em;
  margin-bottom:0.2em;
  color:initial;

}

#p-right-down ul li{

  padding:0;
  border:1px solid #930031;
}

#p-right-down ul li a{
  border:1px solid #930031;
  color:initial;

}
.bg-enseign {
  background: url(../img/bg-enseign.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}
.border-wrap-enseign {
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.006039915966386533) 100%);
  padding: 0.09rem;
  width: 150px;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  -ms-border-radius:50px;
  -o-border-radius:50px;
}
#title-enseign{
  padding:3% 0 0 0;
}
.soulign-enseign {
  background: #fff;
}

.icon {
  display: grid;
  justify-content: center;
}

.padding2-img{
  padding-top:13%;
 
}
#metier {
  font-family: "OpenSans";
  font-weight: 300;
  background: rgba(62, 62, 62, 1);
}

.title-metier {
  padding: 3% 0 3% 0;
}

.border-wrap {
  background: linear-gradient(to right, white, rgba(62, 62, 62, 1));
  padding: 0.09rem;
  width: 150px;
}

.soulign-metier {
  background: rgba(62, 62, 62, 1);
}

.paragraph-metier {
  padding: 5% 3% 0 0%;
  font-size: 0.8rem;
  /*border:1px solid #fff;*/
}

.paragraph2-metier {
  padding: 2% 0 5% 0;
  font-size: 0.9em;
}

.div-btn {
  padding: 0 0 5% 0;
}

.btn-style {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: transparent
}

.video-metier {
  padding: 10% 0;
}

#projet {
  font-family: "OpenSans";
  font-weight: 300;
  background-color: #fff;
  padding: 4%;
}

.img_project {
margin:3% 0 0 0;
}
#title-project {
  padding: 0 0 0 4%;
}

.title-h5-project {
  padding: 4%;
}
.container-wrap-projet{
  padding:0 0 0 4%;
}
.border-wrap-projet {
  background: linear-gradient(to right, #a00323, #fff);
  padding: 0.09rem;
  width: 150px;
}

.soulign-projet {
  background: rgba(62, 62, 62, 1);
}

.paragraph_project {
  font-size: 0.9em;
  padding-top:1%;
  border:1px solid #930031
}

ul li {
  color: red;
}

.paragraph_project a {
  color: initial;
}

.paragraph_project a:link {
  text-decoration: none;
}

#header-portfolio {
  font-family: "OpenSans";
  font-weight: 300;
  background: url(../img/titre-pro.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}
#title-pro{
  font-size:2.2em;

}

@media (max-width: 1366px) {}

@media (max-width: 1280px) {
  #img_projet{
    min-height:100%;
    border:1px solid #930031;

  }
}

@media (max-width: 1024px) {}

@media (max-width: 800px) {
  .padding-img{
    padding-top:5%;
  }
  .padding2-img{
    padding-top:5%;
   
  }
}

@media (max-width: 768px) {
  .padding-img{
    padding-top:5%;
  }
  .padding2-img{
    padding-top:5%;
  }
  #p-left{
    text-align: center!important;
  }
}

@media (max-width: 640px) {
  .padding-img{
    padding-top:5%;
  }
  .padding2-img{
    padding-top:5%;
   
  }
}