/*fonts*/

@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;

}
  /*style de soulignement*/

#title-portfolio{
  padding:5% 0 0 0;
}
.img-portfolio {
  display: inline-block;
  margin: 15px 0;
  width: 250px;
  height: 237px;
  
  }
  .gallerie{
    margin-bottom:10%;
  }

#exemple{
  padding:0 ;
}
  .border-wrap{
    background: linear-gradient(to right, white, rgba(62, 62, 62, 1));
    padding:0.1rem;
    width:150px;
    }
    .soulign-metier{
    background: rgba(62, 62, 62, 1);
    
    }
    .border-wrap-r{
      background: linear-gradient(to right,rgb(226, 97, 97), white );
      padding:0.1rem;
      width:150px;
      }
      .soulign-metier-r{
        background:  rgb(226, 97, 97);
      
     
      }

  h3 {
    padding: 5%;
  }
  .white {
    color: #fff;
  }
  .clear {
    clear: both;
  }
  .bg-header {
    background: url(../img/bg-head.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
  }
  
  .top-header {
    background: rgba(5, 5, 5, 0.44);
    border-bottom: 2px solid rgba(252, 250, 250, 0.3);
  }
  
  .logo1 {
    width: 180px;
  }
  .nav {
    margin: 0;
  }
  .navbar {
    padding: 0;
  }
  
  .nav-item a {
    padding: 10px;
    color: #fff;
    font-weight: 600;
    height: 100%;
  }
  .btn {
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
  }
  .active {
    background-color: #d31f44;
  }
  .active-radiant {
    border-radius: 0;
    background-color: rgba(211, 31, 68, 89);
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 10px 45px;
  }
  .nav-link a {
    height: 100%;
  }
  .nav li a {
    padding: 28px;
  }
  .header {
    padding: 22% 0;
    text-align: center;
  }
  .title-header {
    color: #fff;
    font-size: 3em;
  }
  .title-header2 {
    font-family: "OpenSans";
    font-weight: 300;
    padding: 20px;
    background: rgba(255, 255, 255, 0.14);
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.2em;
    padding: 5px;
    font-weight: 200px;
  }
  .title-section {
    text-align: center;
    padding: 6%;
  }
  .center-formulaire {
    text-align: center;
  }
  .logo-n {
    background: url(../img/gedn-black.jpg) no-repeat;
    margin:0 auto;
  }
  #p-right {
    padding: 8% 3% 0;
  }
  #p-right-down {
    padding: 0 0 0 0;
  }
  .bg-enseign {
    background: url(../img/bg-enseign.jpg) no-repeat;
  }
  .icon {
    display: grid;
    justify-content: center;
  }
  #metier {
    background: rgba(62, 62, 62, 1);
  }
  #projet {
    padding: 4%;
  }
  #header-portfolio {
    font-family: "OpenSans";
    font-weight: 300;
    background: url(../img/titre-pro.jpg) no-repeat;
  }

/*style portfolio*/

/* Conteneur principal */
.overlay-image {
  position: relative;
  width: 100%;
 }
 /* Image originale */
 .overlay-image .image {
  display: block;
  height: auto;
 }
 /* Texte original */
 .overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
 
 }
 /********* Hover image et texte *******/
/* Overlay */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 }
 /* Apparition overlay sur passage souris */
 .overlay-image:hover .hover {
  opacity: 1;
 }
 /********* Hover background et texte uniquement *******/
.overlay-image .normal {
  transition: .5s ease;
 }
 .overlay-image:hover .normal {
  opacity: 0;
 }
 .overlay-image .hover {
  background-color: rgba(0,0,0,0.5);
 }

 

.text-portfolio{

  color:black;
  text-transform:uppercase;

}
/*style temoignage*/
.temoign-title{
  color:blue;
  text-transform:uppercase;

}
.p-padding{
  padding:3%;
}
#btn-temoign{
  color:#f1f2f6;
  border:1px solid #f1f2f6;
}

.bloc-titreimg {
  
  padding-bottom:8%;
 
 
  }
.center-element{
  text-align:center;
  margin:auto;
}
  .titre-temoign{
    color:#fff;
  text-transform:uppercase;
  margin-left:auto;
  margin-right:auto;
  float:left;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color:#fff;
    font-size:25px;
    font-family: "OpenSans; SemiBold";
  
  
  }
  /* image quote container temoignage*/
.quote{

  margin-left:auto;
  margin-right:auto;
float:right;
 

}
.temoignage{
  padding:6%;
  background: url("../img/bg-temoign.jpg");
  background-size:cover;
  background-position:center;
  background-size:100% 100%;
  
}
p .p-padding{

padding-left:0;
}

/*partenaires*/
#partenary{
padding:2%;
}
#logo-part{
  background-color:#fff;
}


/* contact */
#contact{
background-color:#a00323;
height:600px;


}
.titre-contact{
color:#fff;
text-transform:uppercase;
float:left;
padding-top:3%;



}
.text-center{
  padding-top:5%;
}

.center-formulaire{
  text-align:center;
  
}

input{

border:0;
  border-bottom:1px solid #fff;
  background-color:#a00323;
  color:#fff;
 
}
#email{
  width: 94%;
  
}
label{
  float:left;
}
.area-text{
  background-color:#a00323;
  width:100%;
padding-bottom:100px;
color:#fff;
}
.bouton{
  background-color:#fff;
  color:#a00323;
  margin-top:1%;
  width:150px;
  margin-bottom:70px;;
  margin-top:22px;
 
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

footer{
  background-color:#3e3e3e;
  margin:0;
  padding:0;
  height:155px;
}

.menu-footer{
  float:left;
}
.menu-footer li{
  display:inline;

}
.menu-footer li a{
color:#fff;

}
.reseauxsocio{
  float: right;

 
}
.reseauxsocio li {
  display:inline;
  padding-right:34px;
}

.nav-footer{
  padding:5%;
}           

.logo  {
  padding-top:15%;

}
.logo2  {
  padding-left:25%;

}


h3 {
  padding: 5%;
}

.white {
  color: #fff;
}

.clear {
  clear: both;
}

.bg-header {
  background: url(../img/bg-head.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}

.top-header {
  background: rgba(5, 5, 5, 0.44);
  border-bottom: 2px solid rgba(252, 250, 250, 0.3);
}

.logo1 {
  width: 180px;
}

.nav {
  margin: 0;
}

.navbar {
  padding: 0;
}

.nav-item a {
  padding: 10px;
  color: #fff;
  font-weight: 600;
  height: 100%;
}

.btn {
  border-radius: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
}

.active {
  background-color: #d31f44;
}

.active-radiant {
  border-radius: 0;
  background-color: rgba(211, 31, 68, 89);
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 10px 45px;
}

.nav-link a {
  height: 100%;
}

.nav li a {
  padding: 28px;
}

.header {
  padding: 22% 0;
  text-align: center;
}

.title-header {
  color: #fff;
  font-size: 3em;
}

.title-header2 {
  font-family: "OpenSans";
  font-weight: 300;
  padding: 20px;
  background: rgba(255, 255, 255, 0.14);
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.2em;
  padding: 5px;
  font-weight: 200px;
}

.title-section {
  text-align: center;
  padding: 6%;
}
#formation{
  font-family: "OpenSans";
  font-weight: 300;
}
#button-header{
  padding:3%;
}
#title-formation{
  padding:3% 0 0 0;
}
.border-wrap-formation {
  background: linear-gradient(to right, #a00323, #fff);
  padding: 0.09rem;
  width: 150px;
  padding:3% 0 0 0;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  -ms-border-radius:50px;
  -o-border-radius:50px;
  
}

#p-left {
  font-size:0.8em;
  padding:5.5% 1% 0 0;
}


#p-right {
  padding: 7% 0 0 4%;
}

#p-right-down {
  padding: 0 0 0 0;


}
.liste1 ul{
  list-style-position: outside;
}
.liste1 li{
  line-height:0.5em;
  padding-bottom:0.2em;
  font-size: 1.6em;

}
.liste1 li a{
  font-size:0.5em;
  margin-bottom:0.2em;
  color:initial;

}

#p-right-down ul li{

  padding:0;
  border:1px solid #930031;
}

#p-right-down ul li a{
  border:1px solid #930031;
  color:initial;

}
.bg-enseign {
  background: url(../img/bg-enseign.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}
.border-wrap-enseign {
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.006039915966386533) 100%);
  padding: 0.09rem;
  width: 150px;
  border-radius:50px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  -ms-border-radius:50px;
  -o-border-radius:50px;
}
#title-enseign{
  padding:3% 0 0 0;
}
.soulign-enseign {
  background: #fff;
}

.icon {
  display: grid;
  justify-content: center;
}

.padding2-img{
  padding-top:13%;
 
}
#metier {
  font-family: "OpenSans";
  font-weight: 300;
  background: rgba(62, 62, 62, 1);
}

.title-metier {
  padding: 3% 0 3% 0;
}

.border-wrap {
  background: linear-gradient(to right, white, rgba(62, 62, 62, 1));
  padding: 0.09rem;
  width: 150px;
}

.soulign-metier {
  background: rgba(62, 62, 62, 1);
}

.paragraph-metier {
  padding: 5% 3% 0 0%;
  font-size: 0.8rem;
  /*border:1px solid #fff;*/
}

.paragraph2-metier {
  padding: 2% 0 5% 0;
  font-size: 0.9em;
}

.div-btn {
  padding: 0 0 5% 0;
}

.btn-style {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  background-color: transparent
}

.video-metier {
  padding: 10% 0;
}

#projet {
  font-family: "OpenSans";
  font-weight: 300;
  background-color: #fff;
  padding: 4%;
}

.img_project {
margin:3% 0 0 0;
}
#title-project {
  padding: 0 0 0 4%;
}

.title-h5-project {
  padding: 4%;
}
.container-wrap-projet{
  padding:0 0 0 4%;
}
.border-wrap-projet {
  background: linear-gradient(to right, #a00323, #fff);
  padding: 0.09rem;
  width: 150px;
}

.soulign-projet {
  background: rgba(62, 62, 62, 1);
}

.paragraph_project {
  font-size: 0.9em;
  padding-top:1%;
  border:1px solid #930031
}

ul li {
  color: red;
}

.paragraph_project a {
  color: initial;
}

.paragraph_project a:link {
  text-decoration: none;
}

#header-portfolio {
  font-family: "OpenSans";
  font-weight: 300;
  background: url(../img/titre-pro.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
}
#title-pro{
  font-size:2.2em;

}

@media (max-width: 1366px) {}

@media (max-width: 1280px) {
  #img_projet{
    min-height:100%;
    border:1px solid #930031;

  }
}

@media (max-width: 1024px) {}

@media (max-width: 800px) {
  .padding-img{
    padding-top:5%;
  }
  .padding2-img{
    padding-top:5%;
   
  }
}

@media (max-width: 768px) {
  .padding-img{
    padding-top:5%;
  }
  .padding2-img{
    padding-top:5%;
  }
  #p-left{
    text-align: center!important;
  }
}

@media (max-width: 640px) {
  .padding-img{
    padding-top:5%;
  }
  .padding2-img{
    padding-top:5%;
   
  }
}